<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>City Project
    </h1>
  </div>

  <input class="search" type="text" placeholder="Enter City Name">
  <button type="button" onClick="getWeatherData()">Search</button>
  <div id="city"></div>
  <div id="temp"></div>
  <div id="error"></div>
  
</body>

</html>