<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item"><a class="nav-link" href="/projects">My Projects</a></li>
  <li class="nav-item"><a class="nav-link" href="/about">About Web App</a></li>
  <li class="nav-item">
    <a class="nav-link" href="#" onclick="firebaseSignIn()">Login</a>
  </li>
  <li class="nav-item"><a class="nav-link" href="/form">Form Submit</a></li>
</ul>
